<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>冰岛数据故事</title>

    <!--导入在线js库文件-->
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />

    <link
            href="http://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css"
            rel="stylesheet"
    />
    <link href="../static/css/signup.css" rel="stylesheet"/>


</head>

<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">第一页面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page_second">第二页面</a>
                </li>
                <li rclass="nav-item">
                    <a class="nav-link" href="/page_third">第三页面</a>
                </li>
                <li rclass="nav-item">
                    <a class="nav-link active" href="/page_final">最后页面</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">冰岛数据故事</h3>
    </div>

    <div>
        <h4 class="text-muted"></h4>
        <p>
    </div>

    <div>
        <h5 class="text-muted"></h5>
        <p>
            通过几项关于冰岛女性，国家生育情况等数据，生活在冰岛的女性精神与经济都相对富足，即使造成单身女性形成原因多种多样，但无论如何，在冰岛当一位未婚先孕或者不婚的女性似乎成为了一件稀松平常的事情，且与其他发达邻居国家相比，冰岛又拥有不常见的高生育率。所以在这种社会环境中，父母未婚，或者是先生子再结婚，甚至一直不婚也成为冰岛独特的现象，并且女性地位非常之高，所以在冰岛，婚姻对于女性来说反而成为一件没有实际意义的事情，当婚姻观变得淡泊时，结婚也许就不再是刚性的需求</p>
        <p>在外界看来，冰岛单身母亲现象及其背后独特的婚姻观成为了话题，同时也为冰岛这个国度增添了别样魅力。</p>
    </div>

    <footer class="footer">
        <p>&copy; Company 2020</p>
    </footer>
</div>
</body>
</html>
